C:\Users\james\Documents\Courses\Year 3\ECSE3038 - IOT\IoT_Project\api\store.txt
C:\Users\james\Documents\Courses\Year 3\ECSE3038 - IOT\IoT_Project\embedded\lib
C:\Users\james\Documents\Courses\Year 3\ECSE3038 - IOT\IoT_Project\embedded\include
C:\Users\james\Documents\Courses\Year 3\ECSE3038 - IOT\IoT_Project\embedded\.vscode
C:\Users\james\Documents\Courses\Year 3\ECSE3038 - IOT\IoT_Project\embedded\.pio
C:\Users\james\Documents\Courses\Year 3\ECSE3038 - IOT\IoT_Project\embedded\test
C:\Users\james\Documents\Courses\Year 3\ECSE3038 - IOT\IoT_Project\embedded\platformio.ini
embedded/platformio.ini
embedded/.vscode/extensions.json
embedded/test/README
embedded/lib/README
embedded/.gitignore
embedded/include/README
api/store.txt
